---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-white">¡Hola, soy Nicolás!<Badge>Disponible para trabajar</Badge></h1>
		<h2>Estudiante de Desarrollo de Software. Desarrollador Web. Localizado en Santa Fe,Argentina.</h2>
	</main>
</Layout>

